body pre::-webkit-scrollbar {
  width: 16px;
}

body pre::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(41, 57, 86);
}

body pre::-webkit-scrollbar-thumb {
  background: #959595;
  outline: 1px solid rgb(46, 68, 87);
}

body {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #e3e3e3;
}

a {
  color: #e3e3e3;
}

p {
  font-size: 2em;
}

pre {
  width: 100%;
  text-align: left;
  background-color: #fff4dadd;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  background-color: #fff4da13;
  padding: 1px 4px;
  border-radius: 4px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

details {
  background-color: #4a4b4c;
  padding: 5px 5px 10px 5px;
  width: 100%;
}