body pre::-webkit-scrollbar {
  width: 16px;
}

body pre::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(41, 57, 86);
}

body pre::-webkit-scrollbar-thumb {
  background: #959595;
  outline: 1px solid rgb(46, 68, 87);
}

body {
  width: 50%;
  margin: 0 auto;
  background-color: #252525;
  color: #e3e3e3;
  font-size: 1.3em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  margin-top: 10px;
  color: #e3e3e3;
}


pre {
  width: 100%;
  text-align: left;
  background-color: #f6f5f4dd;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  background-color: #fff4da13;
  padding: 1px 4px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

details {
  background-color: #4a4b4c;
  padding: 5px 5px 10px 5px;
  width: 100%;
}